<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<script 
		src="https://code.jquery.com/jquery-3.3.1.min.js" 
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  
		crossorigin="anonymous">
	</script>
</head>
<body>

<div id="container">
	<h1>To-Do List <i class="fa fa-plus-square"></i></h1>
	<input type="text" placeholder="Add New Todo">

	<ul>
		<li><span><i class="fa fa-trash-alt"></i></span> Kain</li>
		<li><span><i class="fa fa-trash-alt"></i></span> Tulog</li>
		<li><span><i class="fa fa-trash-alt"></i></span> Gala</li>
	</ul>
</div>

<script type="text/javascript" src="js/todos.js"></script>
</body>
</html>